<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="3 seconds">

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
      </pattern>
    </layout>
  </appender>

  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logFile.log</File>
    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        logFile.%d{yyyy-MM-dd_HH-mm}.log.zip
      </FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <appender name="GELF" class="me.moocar.logbackgelf.GelfAppender">
        <facility>logback-gelf-test</facility>
        <graylog2ServerHost>devplay01c.dev.semantico.net</graylog2ServerHost>
        <graylog2ServerPort>12201</graylog2ServerPort>
        <useLoggerName>true</useLoggerName>
        <useThreadName>true</useThreadName>
        <graylog2ServerVersion>0.9.6</graylog2ServerVersion>
        <chunkThreshold>1000</chunkThreshold>
	<messagePattern>%message %relative %exception </messagePattern>
        <additionalField>ipAddress:_ip_address</additionalField>
        <additionalField>requestId:_request_id</additionalField>
	<additionalField>username:_user_id</additionalField>
	<additionalField>userid:_userid</additionalField>
	<additionalField>email:_email</additionalField>
	<additionalField>sessionID:_session_id</additionalField>
	<additionalField>example:_nameingelf</additionalField>
	number
</appender>

  <appender name="GELFLOGSTASH" class="me.moocar.logbackgelf.GelfAppender">
        <facility>logbackforlogstash</facility>
        <graylog2ServerHost>devplay01c.dev.semantico.net</graylog2ServerHost>
        <graylog2ServerPort>12202</graylog2ServerPort>
        <useLoggerName>true</useLoggerName>
        <useThreadName>true</useThreadName>
        <graylog2ServerVersion>0.9.6</graylog2ServerVersion>
        <chunkThreshold>1000</chunkThreshold>
        <messagePattern>%message %relative %exception </messagePattern>
        <additionalField>ipAddress:_ip_address</additionalField>
        <additionalField>requestId:_request_id</additionalField>
        <additionalField>username:_user_id</additionalField>
        <additionalField>userid:_userid</additionalField>
        <additionalField>email:_email</additionalField>
        <additionalField>sessionID:_session_id</additionalField>
        <additionalField>example:_nameingelf</additionalField>
        number
</appender>



  <appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
  	<MaxSize>512</MaxSize>
  </appender>



  <root>
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
    <appender-ref ref="GELF" />
    <appender-ref ref="GELFLOGSTASH" />
    <appender-ref ref="CYCLIC" />
  </root>


</configuration>
